* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	background: #d1c8ff;
	font-family: sans-serif;
}



.container {
	
	display: flex;
	flex-direction: column;
}


.popover_btn {
	position: relative;
	display: inline-block;
	width: 260px;
	height: 70px;
	margin-top: 100px;
	background-color: #cc0033;
	border-radius: 4px;
	font-size: 18px;
	text-align: center;
	color: white;
	padding: 6px 12px;
	cursor: pointer;
}

.popover_btn:hover {

	background-color: #990000;

}


.popover_btn:active {

	background-color: #990000;
	border: 1px solid #ff6666;
}

.tooltip {
	margin: o auto;
	position: absolute;
	top: 20px;
	margin-left: -8px;
	max-width: 276px;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 3px;
}

.tooltip::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: calc(50% - 10px);
	bottom: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid gray;
}

.tooltip::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;

	bottom: -10px;
	left: calc(50% - 10px);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
}

.tooltip_content {
	overflow: hidden;
}

.tooltip_title {
	font-weight:400;
	text-align: center;
	background-color: #c7bfbf;
}

.tooltip_text {
	
	margin: 5px 15px;
	text-align: left;
	overflow-wrap: break-word;
}

.hidden {
	display: none;
}
